<footer>
    <section class="links">
        <div class="links-container">
            <h5>Quick Links</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="links-container">
            <h5>Support Center</h5>
            <ul>
                <li><a href="#">Contact form</a></li>
                <li><a href="#">Write to us</a></li>
                <li><a href="#">Call us</a></li>
            </ul>
        </div>
        <div class="links-container">
            <h5>Address</h5>
            <ul>
                <li>Doha, Qatar</li>
                <li>denitsa.dey@gmail.com</li>
                <li>(+974) 33088806</li>
            </ul>
        </div>
        <div class="links-container">
            <h5>Follow Us</h5>
            <ul class="social">
                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><a href="https://github.com/DenitsaDey/My-Projects-Story-Tree"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="copyright">
        <p>Copyright © 2022 StoryTree. All Rights Reserved.</p>
        <div class="footer-logo-wrapper">
            <img src="../../../assets/Images/logos/story tree removebg-preview.png" alt="Story Tree Logo">
        </div>
    </section>
</footer>