<div id="body-wrapper">
<div id="login-box">
    <div class="left">
      <h1>Register</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    
    <div class="right">
      <span class="loginwith">Register with<br />social network</span>
      
      <button class="social-signin facebook">Register with facebook</button>
    </div>
    <div class="or">OR</div>
  </div>
</div>
