<div class="all-wrapper">
    <main>
        <h2>My Family Tree: {{familyModel.length}} members</h2>
        <article>
            <div class="img-wrapper">
                <img src="../../../../assets/Images/people/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg">
            </div>
            <div class="article-text-wrapper">
                <h4>Member Name</h4>
                <p>RelationToMe</p>
                <button class="btn-primary readMore-btn"
                    (click)="setSelectedMemberId('971e461d-77cd-4dc3-a6d3-ece5dd44b466')">Details</button>
            </div>
        </article>
        <!-- <stapp-all-members (memberClicked)='setSelectedMemberId($event)'></stapp-all-members> -->
        <ng-component *ngIf="(familyModel.length > 0 && !isLoading)? familyTreeMembers : startYourTree"
            class="family-tree">
             
        </ng-component>

    </main>
    <aside>
        <stapp-editor [selectedMemberId]='selectedMemberId'></stapp-editor>
    </aside>
</div>

<ng-template #startYourTree>
    <input type="button" routerLink="/family/add" class="btn-primary readMore-btn" value="Start Now">
</ng-template>

<ng-template #familyTreeMembers>
    <div *ngFor="let member of familyModel" class="tree-members">
        <article>
            <div class="img-wrapper">
                <img src="">
            </div>
            <div class="article-text-wrapper">
                <h4>{{member.name}}</h4>
                <p>{{member.relationToMe}}</p>
                <button class="btn-primary readMore-btn"
                    (click)="setSelectedMemberId(member.id)" id="">Details</button>
            </div>
        </article>
    </div>
    </ng-template>