<div class="all-wrapper">
    <main>
        <h2>My Family Members:</h2>
        <!-- <stapp-all-members (memberClicked)='setSelectedMemberId($event)'></stapp-all-members> -->
        <ng-component *ngIf="familyModel && familyModel.length > 0 && !isLoading; else startYourTree" class="family-tree">
            <div *ngFor="let member of familyModel" class="tree-members">
                <h3>TEST</h3>
                    <article>
                        <div class="img-wrapper">
                            <img src="">
                        </div>
                        <div class="article-text-wrapper">
                            <h4>{{member.name}}</h4>
                            <p>{{member.relationToMe}}</p>
                            <button class="btn-primary readMore-btn" (click)="setSelectedMemberId(member.id)">Details</button>
                        </div>
                    </article>
                </div>
        </ng-component>
        
    </main>
    <aside>
        <stapp-editor [selectedMemberId]='selectedMemberId'></stapp-editor>
    </aside>
</div>

<ng-template #startYourTree>
    <input type="button" routerLink="/family/add" value="Start Now">
</ng-template>