<div id="body-wrapper">
    <div id="login-box">
        <div class="container">
            <h1>Add a member</h1> 
            <form #addMemberForm="ngForm" (ngSubmit)="onSubmit(addMemberForm)">  
                <div class="form-group">  
                    <label for="name">Name</label>  
                    <input type="text" class="form-control" id="name" required name="name" ngModel #name="ngModel">   <!--ngModel automatically attaches a validator directive to the variable #name-->
                    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                        Name is required!
                    </div>
                </div>   
                <div class="form-group">   
                    <label for="relation">Relation to me</label>   
                    <select class="form-control" id="relationToMe" required name="relationToMe" ngModel #relationToMe="ngModel">                    
                        <option *ngFor="let relation of relations" [value]="relation">{{relation}}</option>                 
                    </select> 
                    <div class="alert alert-danger" *ngIf="relationToMe.touched && relationToMe.invalid">
                        Relation is required!
                    </div>  
                </div>   
                <div class="form-group">    
                    <label for="partner">Married to</label> 
                    <select class="form-control" id="partner" name="partner" ngModel>                    
                        <option *ngFor="let partner of members" [value]="partner.id">{{partner.name}}</option>                 
                    </select> 
                </div> 
                <div class="form-group">
                    <label for="parent">Parents</label>  
                    <div class="select-parents">                
                    <select class="form-control" id="parent1" name="parent1" ngModel>                    
                        <option *ngFor="let parent of members" [value]="parent.id">{{parent.name}}</option>                 
                    </select>  
                    <select class="form-control" id="parent2" name="parent2" ngModel>                    
                        <option *ngFor="let parent of members" [value]="parent.id">{{parent.name}}</option>                 
                    </select> 
                </div>                 
                </div>                    
                <button [disabled]="addMemberForm.invalid" type="submit" class="btn btn-submit">Submit</button>   
                <button (click)="clearForm()" type="button" class="btn btn-clear">Clear</button>   
            </form>    
        </div>
    </div>
</div>
