@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

:root {
    --color-primary:#424242;
    --color-text-primary:#E2A05E;
    --color-logo:#EEE7CC;
    --color-bkgrd-dark: #121E2E;
    --color-bkgrd-light: #F6C884;
    --color-btn-primary: #454545;
    --color-input-subscribe: #545A5E;
    --color-bkgrd-lightgrey: #EEF0F1;
    --color-white: #fff;
    --color-black: #000;
  }

#body-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding:300px 100px;
  background-image: url("../../../assets/Images/niko-photos-tGTVxeOr_Rs-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: -3% 30% 2% 31%;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}



.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg, rgba(237,238,239,1) 38%, rgba(198,199,197,1) 100%);
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.btn-signin {
  margin-top: 105px;
  width: 120px;
  height: 32px;
  background: #32508E;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

btn-signin:hover,
.btn-signin:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.btn-signin:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}


.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('../../../assets/Images/nordwood-themes-bJjsKbToY34-unsplash.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 20px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

.right p{
    color: #FFF;
  text-align: center;
  letter-spacing: 1px;
}

.btn-signin {
    
  margin-top: 100px;
  margin-bottom: 20px;
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.btn-signin:hover,
button.btn-signin:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.btn-signin:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.btn-signin.facebook {
  background: #32508E;
}

.btn-register{
  margin-top: 11rem;
  margin-left: 3rem;
  width: 120px;
  height: 32px;
  background: #32508E;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.btn-register a{
    text-decoration: none;
    color: #FFF;
}

.btn-register:hover,
.btn-register:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.btn-register:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.btn-register:disabled {
  opacity: 3;
}

.error{
  color: red;
  margin: -1rem 0 1rem 0;
}