<div id="body-wrapper">
  <div id="login-box">
    <div class="left">
      <h1>Welcome back,</h1>

      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />

      <input (click)="onLogin" type="submit" name="signup_submit" value="Sign in" />
      <button class="social-signin facebook">Sign in with facebook</button>
    </div>

    <div class="right">
      <span class="loginwith">New here?<br /></span>
      <p>Register and discover great new opportunities!</p>
      <button class="btn-register"><a href="#">Register</a></button>
    </div>

  </div>
</div>