<div class="body-wrapper">
    <div class="card">
        <div class="img-avatar">
          <img src="../../../assets/Images/people/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
        </div>
        <div class="card-text">
          <div class="portada">
            <button><i class="far fa-images"></i>Upload new picture</button> 
          </div>
          <div class="title-total">   
              <h2>{{user.name}}</h2>
              <div class="title">Me</div>
        
        <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
        <div class="actions">
            <ul>
                <li><button><i class="fa-light fa-earth-americas"></i></button>Lives in: {{user.location}}</li>
                <li><button><i class="fal fa-birthday-cake"></i></button>Birthday: {{user.birthday}}</li>
                <li><button><i class="far fa-envelope"></i></button>E-mail: {{user.email}}</li>
            </ul> 
        </div>
    </div>
       
        </div>    
      </div>
    </div>
    
   
