@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

.body-wrapper {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  /*background-image: linear-gradient(to top, #E2A05E 0%, #FCE5AB 100%);*/
  background: url("../../../assets/Images/nasa-Q1p7bh3SHj8-unsplash.jpg") center center;
  background-size: cover;
}


.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 700px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: left;
  color: orange;
  font-weight: bold;
  font-size: 16px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}
.card img {
  width: 100%;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #545A5E 0%, #E2A05E 100%);
  top: 15px;
  right: 45px;
  overflow: hidden;
}

.card-text {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("../../../assets/Images/karsten-winegeart-60GsdOMRFGc-unsplash.jpg");
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
}






.portada>input{
    position: absolute;
    bottom: 20px;
    left: 60px;
    background-color:var(--color-bkgrd-light);
}

.portada>button:hover{
  background-color: var(--color-text-primary); 
}

.actions ul{
  display: inline-block;
  list-style: none;
  width: 350px;
}

.actions ul li{
  margin: 15px 0 0 0;
}
 .title-sm{
   color: var(--color-bkgrd-light);
   font-size: 14px;
   font-weight: bold;
   margin-right: 4px;
 }

button, input[type="button"] {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition:.5s;
  border-radius:8px;
  background-color:var(--color-bkgrd-light);
    padding: 4px 8px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}
  /* button>i:hover{
    color: #E2A05E  ;
    transform: rotate(22deg)
  } */


 

button:hover, input[type="button"]{
    background-color: var(--color-text-primary); 
}


.cancel-button{
  border-radius:8px;
    border: none;
    background-color:var(--color-bkgrd-light);
    padding: 4px 8px;
    color: white;
    background-color: var(--color-logo);
    color: var(--color-primary);
    margin-left: 10px;
}

.cancel-button:hover{
  background-color: var(--color-primary);
  color: var(--color-logo); 
}

.edit-button:disabled{
  background-color: grey;
}
  
input[type="file"]{
  display: none;
}

.custom-file-upload {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition:.5s;
  border-radius:8px;
  background-color:var(--color-bkgrd-light);
    padding: 4px 8px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 60px;
}

.custom-file-upload:hover{
  background-color: var(--color-text-primary);
}

.profile{
  position: static;
  margin-left: 15px;
  margin-right: 60px;
}

