<div class="body-wrapper">
  <ng-container *ngIf="(currentUser$ | async) as currentUser">
    <ng-container *ngIf="!(isInEditMode$ | async)">
    <div class="card">
        <div class="img-avatar">
          <img src="../../../assets/Images/people/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
        </div>
        <div class="card-text">
          <div class="portada">
            <button class="button-primary">Upload new picture</button> 
          </div>
          <div class="title-total">   
              <h2>{{currentUser.name}}</h2>
              <div class="title">Me</div>
              <div class="actions">
                <ul>
                    <li><p><span class="title-sm">Lives in: </span>{{currentUser.location}}</p></li>
                    <li><p><span class="title-sm">Birthday: </span>{{currentUser.birthday | date: 'longDate'}}</p></li>
                    <li><p><span class="title-sm">Maried to: </span>{{currentUser.partner.name}}</p></li>
                    <li><p><span class="title-sm">Family Members: </span>{{currentUser.familyMembersCount}}</p></li>
                </ul> 
              </div>
              <button (click)="enterEditMode(currentUser)" class="button-primary">Edit</button>
            </div>
        </div>    
      </div>
    </ng-container>

    <ng-container *ngIf="isInEditMode$ | async">
      <form #editProfileForm="ngForm" (ngSubmit)="updateProfile()">
        <div class="card">
          <div class="img-avatar">
            <img src="../../../assets/Images/people/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
          </div>
          <div class="card-text">
            <div class="portada">
              <button>Upload new picture</button> 
            </div>
            <div class="title-total">   
                <div class="title">Me</div>
                <div class="actions">
                  <ul>
                    <li><p>Name: </p>
                      <input type="text" name="name" ngModel required id="name" value="{{(currentUser$ | async).name}}">
                    <li><p>Lives in: </p>
                        <input type="text" name="location" ngModel id="location" value="{{(currentUser$ | async).location}}"></li>
                      <li><p>Birthday: </p>
                        <input type="text" name="birthday" ngModel id="birthday" value="{{currentUser.birthday | date: 'shortDate'}}"></li>
                      <li><p>Married to: </p>
                        <input type="text" name="partner" ngModel id="parner" value="{{(currentUser$ | async).partner.name}}"></li>
                      <li><p>Family Members: {{(currentUser$ | async).familyMembersCount}}</p></li>
                  </ul> 
                </div>
                <button [disabled]="editProfileForm.invalid" class="edit-button">Save</button>
                <button type="button" (click)="exitEditMode()" class="cancel-button">Cancel</button>  
             </div>
          </div>    
        </div>
      </form>
    </ng-container>

  </ng-container>
</div>
    
   
