.diagram-wrapper{
  padding-top: 150px;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.4)), url("../../../..//assets/Images/tyler-nix-V3dHmb1MOXM-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#FamilyDiagramDiv {
    width: 1300;
    height: 500px;
    border: none;
    background-color: transparent;
  }