@import url("https://use.fontawesome.com/releases/v6.0.0/css/brands.css");
@import url("assets/reset.css");
@import url("assets/typography.css");



:root {
    --color-primary:#424242;
    --color-text-primary:#E2A05E;
    --color-logo:#EEE7CC;
    --color-bkgrd-dark: #121E2E;
    --color-bkgrd-light: #F6C884;
    --color-btn-primary: #454545;
    --color-input-subscribe: #545A5E;
    --color-bkgrd-lightgrey: #EEF0F1;
    --color-white: #fff;
    --color-black: #000;
  }


 body{
     margin: 0 auto;
 }


 /* Header */

/* Main */


/* Footer */

 